#searchContainer,
#songContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	
	padding: 24px;
	padding-top: 88px;
	
	opacity: 1;
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
	
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
	#searchContainer.hidden {
		opacity: 0;
		-webkit-transform: translateY(-64px);
		   -moz-transform: translateY(-64px);
		    -ms-transform: translateY(-64px);
		     -o-transform: translateY(-64px);
		        transform: translateY(-64px);
	}
		#searchContainer.hidden .appBar {
			top: 64px; /* Offset the search container's translation. */
		}
	#songContainer.hidden {
		opacity: 0;
		-webkit-transform: tranlateY(80%);
		   -moz-transform: tranlateY(80%);
		    -ms-transform: tranlateY(80%);
		     -o-transform: tranlateY(80%);
		        transform: tranlateY(80%);
	}

#searchAppBar {
	opacity: 1;
	
	-webkit-transform: translateY(0);
	   -moz-transform: translateY(0);
	    -ms-transform: translateY(0);
	     -o-transform: translateY(0);
	        transform: translateY(0);
	
	-webkit-transition-duration: 0.1s;
	   -moz-transition-duration: 0.1s;
	    -ms-transition-duration: 0.1s;
	     -o-transition-duration: 0.1s;
	        transition-duration: 0.1s;
	-webkit-transition-property: all;
	   -moz-transition-property: all;
	    -ms-transition-property: all;
	     -o-transition-property: all;
	        transition-property: all;
}
	#searchAppBar.hidden {
		opacity: 0;
		
		-webkit-transform: translateY(-72px);
		   -moz-transform: translateY(-72px);
		    -ms-transform: translateY(-72px);
		     -o-transform: translateY(-72px);
		        transform: translateY(-72px);
		
		-webkit-transition-duration: 0.2s;
		   -moz-transition-duration: 0.2s;
		    -ms-transition-duration: 0.2s;
		     -o-transition-duration: 0.2s;
		        transition-duration: 0.2s;
	}

#songAppBar {
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
	-webkit-transition-property: all;
	   -moz-transition-property: all;
	    -ms-transition-property: all;
	     -o-transition-property: all;
	        transition-property: all;
}
	#songAppBar.hidden {
		font-size: 16px;
		
		background-color: white;
		color: black;
		
		-webkit-box-shadow: none;
		   -moz-box-shadow: none;
		        box-shadow: none;
		
		opacity: 0;
		
		-webkit-transition-duration: 0;
		   -moz-transition-duration: 0;
		    -ms-transition-duration: 0;
		     -o-transition-duration: 0;
		        transition-duration: 0;
	}

#searchCard {
	overflow: hidden;
	-webkit-transition-property: height;
	   -moz-transition-property: height;
	    -ms-transition-property: height;
	     -o-transition-property: height;
	        transition-property: height;
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
#searchTypeForm {
	line-height: 1.75em;
	margin-bottom: 0.5em;
}
#lyricSearchForm,
#melodySearchForm {
	opacity: 1;
	
	transform: translateX(0);
	
	-webkit-transition-duration: 0.2s;
	   -moz-transition-duration: 0.2s;
	    -ms-transition-duration: 0.2s;
	     -o-transition-duration: 0.2s;
	        transition-duration: 0.2s;
}
	#lyricSearchForm input[type="search"] {
		display: block;
		width: 100%;
	}
	#lyricSearchForm button,
	#melodySearchForm button {
		margin-right: 0;
		margin-bottom: 0;
	}
	#lyricSearchForm.hidden {
		opacity: 0;
		
		transform: translateX(-48px);
	}
	#melodySearchForm.hidden {
		opacity: 0;
		
		transform: translateX(48px);
	}

#songCard h1,
#songCard p {
	margin: 0;
	min-height: 16px;
}
	#songUpButton {
		margin-left: -16px;
		margin-right: -8px;
	}

@media (max-width: 600px) {
	#searchContainer,
	#songContainer {
		padding: 16px;
		padding-top: 72px;
	}
}
