.appBar button > img,
.appBar *[role="button"] > img {
	width: 32px;
	height: 32px;
}

section,
section.card {
	display: block;
	max-width: 800px;
	margin: 16px auto;
	
	opacity: 1;
	transform: translateY(0);
	
	-webkit-animation-duration: 0.2s;
	   -moz-animation-duration: 0.2s;
	    -ms-animation-duration: 0.2s;
	     -o-animation-duration: 0.2s;
	        animation-duration: 0.2s;
	-webkit-animation-name: floatIn;	
	   -moz-animation-name: floatIn;	
	    -ms-animation-name: floatIn;	
	     -o-animation-name: floatIn;	
	        animation-name: floatIn;
}
	section.card.hidden {
		display: none;
		
		opacity: 0;
		transform: translateY(16px);
		
		-webkit-animation-name: none;
		   -moz-animation-name: none;
		    -ms-animation-name: none;
		     -o-animation-name: none;
		        animation-name: none;
	}
	section.card > ul {
		margin-top: -16px;
		margin-bottom: -16px;
	}
		section.card > ul > li:first-child {
			border-top: 0 none;
		}
		section.card > ul > li:last-child {
			border-bottom: 0 none;
		}
			section.card > ul > li > button,
			section.card > ul > li > *[role="button"] {
				display: block;
				margin: -16px -32px;
			}
				section.card > ul > li > button {
					width: 100%;
					width: calc(100% + 64px);
				}
			section.card > ul > li small {
				font-size: 90%;
				opacity: 0.7;
			}
	
label {
	white-space: nowrap;
}

/* Styles for smaller screens, such as mobile phones */
@media (max-width: 600px) {
	section,
	section.card {
		margin: 16px -16px;
		-webkit-border-radius: 0;
		   -moz-border-radius: 0;
		        border-radius: 0;
	}
		section:first-of-type,
		section.card:first-of-type {
			margin-top: -16px;
		}
	
	/* Lower the app bar to effectively z = 1. */
	.appBar.z2 {
		-webkit-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
		   -moz-box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
		        box-shadow: rgba(0, 0, 0, 0.26) 0 2px 5px 0, rgba(0, 0, 0, 0.16) 0 2px 10px 0;
		    filter:  progid:DXImageTransform.Microsoft.Glow(Color=#b8b8b8,Strength=5);
		-ms-filter: "progid:DXImageTransform.Microsoft.Glow(Color=#b8b8b8,Strength=5)";
	}
}

/* Animation keyframes for card animations */
@-webkit-keyframes floatIn {
	0% {
		opacity: 0;
		-wekbit-transform: translateY(16px);
		        transform: translateY(16px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}
@-moz-keyframes floatIn {
	0% {
		opacity: 0;
		-moz-transform: translateY(16px);
		     transform: translateY(16px);
	}
	100% {
		opacity: 1;
		-moz-transform: translateY(0);
		     transform: translateY(0);
	}
}
@-ms-keyframes floatIn {
	0% {
		opacity: 0;
		-ms-transform: translateY(16px);
		    transform: translateY(16px);
	}
	100% {
		opacity: 1;
		-ms-transform: translateY(0);
		    transform: translateY(0);
	}
}
@-o-keyframes floatIn {
	0% {
		opacity: 0;
		-o-transform: translateY(16px);
		   transform: translateY(16px);
	}
	100% {
		opacity: 1;
		-o-transform: translateY(0);
		   transform: translateY(0);
	}
}
@keyframes floatIn {
	0% {
		opacity: 0;
		transform: translateY(16px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
