@charset "UTF-8";

/*

windowBackground: #e5e5e5;

colorPrimary: #f57c00;

colorAccent: #ef6c00;
colorAccentLight: #ff790a;
colorAccentDark: #d66100;

*/

body {
	background-color: #e5e5e5;
}

.appBar {
	background-color: #f57c00;
}

a:not([role="button"]),
a:not([role="button"]):visited {
	color: #ef6c00;
}
	a:not([role="button"]):hover,
	a:not([role="button"]):focus {
		color: #ff790a;
	}
	a:not([role="button"]):active {
		color: #d66100;
	}

button[type="submit"] {
	background-color: #ef6c00;
	color: white;
}
	button[type="submit"]:not(:disabled):hover,
	button[type="submit"]:not(:disabled):focus {
		background-color: #ff790a;
	}
	button[type="submit"]:not(:disabled):active,
	button[type="submit"]:not(:disabled).active {
		background-color: #d66100;
	}

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
textarea:focus {
	border-color: #ef6c00;
}

input[type="radio"],
input[type="checkbox"] {
	margin: -3px 9px;
}
	input[type="radio"]:checked,
	input[type="checkbox"]:checked {
		color: #ef6c00;
	}
